.heroContainer {
  background-color: #545454;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.heroSection {
  display: flex;
  align-items: center;
}

.heroImageContainer {
  margin-right: 20px;
}

.heroImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 4px;
}

.heroContentContainer {
  flex-grow: 1;
}

.heroTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.heroDescription {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ffffff;
}
