@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.herosection-right-wrapper {
  box-shadow:  10px 10px 10px #17151c;

  background-color: #545454;
  padding: 20px;
  border-radius: 25px;
  text-shadow: 2px 2px 4px #feb9c9;
  font-family: "Permanent Marker", cursive;
  border: #17151c   2px solid;

}

.herosection-right-container {
  max-width: 800px;
  margin: 0 auto;
}

.herosection-right {
  display: flex;
  align-items: center;
  
}

.herosection-right-content {
  width: 50%;
  order: 2;
  margin-left: 50px; /* Add some spacing */
  color: #17151c;
  text-shadow: 1px 1px 1px #feb9c9;
  box-shadow: 2px 2px 4px #545454;
  font-family: "Permanent Marker", cursive;
}

.herosection-right-title {
  font-size: 42px;
  margin-bottom: 10px;
  color: #17151c;
  text-decoration: underline;
  text-shadow: #ffb7b2 2px 2px 2px;
}

.herosection-right-subheading {
  font-size: 20px;
  margin-bottom: 10px;
  color: gold;
}

.herosection-right-paragraph {
  font-size: 16px;
  margin-bottom: 10px;
}

.herosection-right-image {
  width: 50%;
  text-align: center;
  order: 1;
}

.herosection-right-image img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  box-shadow: #ffb7b2 2px 2px 2px;
}

@media (max-width: 768px) {
  .herosection-right {
    flex-direction: column;
  }

  .herosection-right-content,
  .herosection-right-image {
    width: 100%;
    order: initial;
    padding-right: 0; /* Reset the padding for smaller screens */
    padding-left: 0; /* Reset the padding for smaller screens */
  }
}
