.herosection-left-wrapper {
  background-color: #545454;
  padding: 20px;
  border-radius: 25px;
  box-shadow:  10px 10px 10px #17151c;
  border: #17151c   2px solid;

}

.herosection-left-container {
  max-width: 800px;
  margin: 0 auto;
}

.herosection-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.herosection-left-content {
  width: 50%;
  text-shadow: 1px 1px 1px #feb9c9;
  box-shadow: 2px 2px 4px #545454;
  color: #17151c;

  font-family: "Permanent Marker", cursive;
}

.herosection-left-title {
  font-size: 42px;
  margin-bottom: 10px;
  color: #17151c;
  text-decoration: underline;
  text-shadow: #ffb7b2 2px 2px 2px;
}

.herosection-left-subheading {
  font-size: 20px;
  margin-bottom: 10px;
  color: gold;
}

.herosection-left-paragraph {
  font-size: 16px;
  margin-bottom: 10px;
}

.herosection-left-image {
  width: 50%;
  text-align: center;
}

.herosection-left-image img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  box-shadow: #ffb7b2 2px 2px 2px;
}
