.carousel-wrapper{
    display: flex;
flex-direction: row;
}
.slide1{
    background-image: url(../assets/1.jpg);
}
.title{
    display: flex;
    justify-content: center;
}
.supercoach{
    width: 33vw;
    height: 89vh;
}.carousel-image {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Control how the image fits within the container */
  }
  