.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffb7b2;
  position: relative;
  height: 10vh;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
}

.navbar-user {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.navbar-user-icon {
  font-size: 74px;
  cursor: pointer;
  border-radius: 25%;
  color: #17151c;
  height: 5vh;
  width: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.navbar-user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
}

.navbar-user:hover .navbar-user-menu {
  display: block;
}

.navbar-user-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-user-link {
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.navbar-user-link:hover {
  background-color: #f1f1f1;
}

.navbar-logo-image {
  height: 10vh;
  width: 10vh;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-links ul {
    font-size: 14px;
  }

  .navbar-user-icon {
    font-size: 20px;
  }
}
