@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.tabs {
    display: flex;
    justify-content: space-between;
    animation:animate__wobble 5s;
    color:rgb(20, 207, 207);
    font-size: larger;
    font-weight: 750;
    text-shadow: 2px 2px 4px #000000;
    font-family: permanent marker;
  }
  
  .tab {
    width: 33.33%;
    text-align: center;
    animation: animate__shakeY 5s;
  }
  
  .tab-image {
    max-width: 100%;
    transition: transform 7s;
  }
  
  .tab-image:hover {
    cursor: pointer;
    animation: animate__shakeY 5s;
  }
  