.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page a {
  margin-top: 1em;
  color: #17151c;
  text-decoration: none;
}

.data:not(:first-child) {
  margin-top: 2em;
}

.data label {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.data pre {
  background-color: #f0f0f0;
  padding: 1.5em;
  width: 500px;
  border-radius: 1em;
  overflow-x: auto;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
