body {
  font-family: Arial, sans-serif;
  background-color: #f8e6e7; /* Baby pink */
  color: #f8e6e7; /* Dark font */
  border: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}

.home-wrapper {
  flex: 1;
  background-color: #aee6fa; /* Baby blue */
  padding: 20px;
  overflow-x: hidden; /* Add this to prevent horizontal scrolling */
}

.sidebar {
  width: 50px;
  transition: width 0.3s ease-in-out;
  z-index: 1; /* Add this to ensure the sidebar is on top */
}

.sidebar-open {
  width: 200px;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  transition: width 0.3s ease-in-out;
  z-index: 2; /* Add this to ensure the top section is on top */
}

.top_section-open {
  width: 200px;
}

.bars {
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

.bars-open {
  margin-left: 10px;
}

.link_text {
  display: none;
  color: #ffb7b2;
}

.link_text-open {
  display: block;
  margin-left: 10px;
  font-weight: bold;
}

.App {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    flex-direction: column;
  }

  .sidebar,
  .top_section {
    width: 200px;
  }

  .bars {
    margin-left: 10px;
  }

  .link_text {
    display: block;
    margin-left: 10px;
    font-weight: bold;
  }
}
