.App {
  text-align: left;
  background-color: #17151c;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;

}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
background: grey;
text-align: center;
color:#17151c;
height: 100vh;
  transition: all 1.7s;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 20px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}
.link{
  display: flex;
  color: #413b4e;
  padding: 10px 15px;
  gap: 15px;
  transition: all .7s;
}
.link:hover{
  background: darkslategray;
  color: teal;
  transform: all .7s;
}
.active{
  background: #17151c ;
  color: slategray;
}
.icon, .link_text{
  font-size: 20px;
}