.App {
  text-align: left;
  background-color: #17151c;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;

}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
background: grey;
text-align: center;
color:#17151c;
height: 100vh;
  transition: all 1.7s;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 20px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}
.link{
  display: flex;
  color: #413b4e;
  padding: 10px 15px;
  gap: 15px;
  transition: all .7s;
  border-radius: 10px;

 
}

.link:hover{
  background: darkslategray;
  color: teal;
  transform: all .7s;
  border-radius: 10px;
}
.active{
  background: #17151c ;
  color: slategray;
}
.icon, .link_text{
  font-size: 20px;
}
.blurb{
  font-size: x-large;
  background: teal;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 4px 5px darkslategrey;
  width: 50%;
  

}
.writing-blurb{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

}
.articles{
  display: flex;
  justify-content: center;
}
.writing{
  display: flex;
  justify-content: center;
}
.writing-link{
  background-color: darkcyan;
  border-radius: 8px;
  margin: 12px;
  padding: 10px;
  color: #17151c;
}

h1.writing{
font-size: 50px;
color: darkcyan;
text-shadow: 6px 6px 6px darkslategray;
text-decoration: underline;
}
.home-wrapper{
  display: flex;
  
}