
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8e6e7; /* Baby pink */
  color: #f8e6e7; /* Dark font */
  border: none;
  margin: 0; /* Add this to remove default body margin */
  padding: 0; /* Add this to remove default body padding */
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center; /* Center the content horizontally */
}

.home-wrapper {
  flex: 1;
  background-color: #aee6fa; /* Baby blue */
  padding: 20px;
  overflow-x: hidden; /* Add this to prevent horizontal scrolling */
  max-width: 100%; /* Ensure the content doesn't exceed the screen width */
}

/* Rest of your CSS code... */
